src/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online-tv</title>
    <style>@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-item {
  margin: 0 1.5rem;
}
.nav-link {
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}
.nav-link::after {
  content: "";
  opacity: 0;
  display: block;
  height: 0.2rem;
  margin-top: 0.5rem;
  border-radius: 5rem;
  color: $grad;
}
.nav-link.active {
  color: white;
}
.nav-link.active::after {
  opacity: 1;
}

.control {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-size: cover;
  background-position: center;
  padding-left: 0;
}
.control-item {
  margin-left: 7.5rem;
}
.control-btn {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}
.control-btn_search {
  background-image: url(/src/images/serch.svg);
  width: 1.8rem;
  height: 1.8rem;
}
.control-btn_account {
  background-image: url(/src/images/account.svg);
  width: 1.8rem;
  height: 1.9rem;
}
.control-btn_notice {
  background-image: url(/src/images/notize.svg);
  width: 2.1rem;
  height: 2.3rem;
}

.section-banner {
  border-bottom: 0.1rem solid #2F2E2E;
  position: relative;
  overflow: hidden;
}
.section-banner__image {
  position: absolute;
  right: 0;
  z-index: -1;
}

.banner {
  max-width: 56.2rem;
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
}
.banner__title {
  font-family: "Marcellus", serif;
  font-size: 8rem;
  line-height: 7rem;
  margin-left: 85px;
  margin-bottom: 39px;
}
.banner__text {
  color: #C2C2C2;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-left: 86px;
  margin-top: 32px;
}
.banner-info {
  font-weight: 800;
  margin-left: 85px;
}
.banner-info__year {
  margin-right: 1.8rem;
}
.banner-info__age {
  margin-right: 1.8rem;
  width: 6rem;
  display: inline-block;
  text-align: center;
  position: relative;
}
.banner-info__age::before {
  content: "";
  display: block;
  width: 100%;
  height: 2.4rem;
  background-image: url(/src/images/age.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 0;
  right: 0;
}
.banner-info__time {
  margin-right: 4.1rem;
}
.banner-info__rating {
  margin-right: 22.4rem;
  position: relative;
}
.banner-info__rating::after {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(/src/images/rating.svg);
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 3px;
  top: calc(50% - 0.8rem);
}
.banner-control {
  margin-left: 85px;
}
.banner-control__btn {
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: "Marcellus", sans-serif;
  font-weight: 800;
  margin-top: 35px;
  cursor: pointer;
}
.banner-control__btn-main {
  color: $grad;
  color: white;
  position: relative;
  padding-left: 6rem;
  margin-right: 30px;
}
.banner-control__btn-main::after {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.8rem;
  background-image: url(/src/images/rating.svg);
  position: absolute;
  left: 3rem;
  top: calc(50% - 0.9rem);
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-control__btn-more {
  background-color: white;
  color: #323232;
}/*# sourceMappingURL=style.css.map */
    </style>
  </head>
  <body> 
    <header> 
      <div class="header"> <a href="#"> <img src="images/logo.svg" alt="err"></a>
        <nav> 
          <ul class="nav"> 
            <li class="nav-item"> <a class="nav-link active" href="">Home</a></li>
            <li class="nav-item">  <a class="nav-link" href="">TV Shows</a></li>
            <li class="nav-item">   <a class="nav-link" href="">Movies </a></li>
            <li class="nav-item"> <a class="nav-link" href="">Series </a></li>
          </ul>
        </nav>
        <ul class="control">
          <li class="control-item">
            <button class="control-btn control-btn_search"></button>
          </li>
          <li class="control-item">
            <button class="control-btn control-btn_notice"></button>
          </li>
          <li class="control-item">
            <button class="control-btn control-btn_account"></button>
          </li>
        </ul>
      </div>
    </header>
    <section class="section-banner"> <img class="section-banner__image" src="/src/images/banner.png" alt="error">
      <div class="container">  
        <div class="banner"> 
          <h1 class="banner__title"> Zack Snyder's Justice League</h1>
          <div class="banner-info"> <span class="banner-info__year">2021</span><span class="banner-info__age">18+</span><span class="banner-info__time">4h 2min</span><span class="banner-info__rating">8.8</span></div>
          <p class="banner__text">Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.</p>
          <div class="banner-control"> 
            <button class="banner-control__btn banner-control__btn-main">Watch</button>
            <button class="banner-control__btn banner-control__btn-more">More information</button>
          </div>
        </div>
      </div>
    </section>
    <footer> 
      <div class="footer"> </div>
    </footer>
  </body>
</html>

src/index.pug
- let pageTitle = 'online-tv'


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= pageTitle
        style
           include styles/style.css
    body 
        include modules/header
 
        section.section-banner 
              img(src='/src/images/banner.png',alt='error').section-banner__image
              .container   
                    .banner 
                        h1.banner__title  Zack Snyder's Justice League
                        .banner-info 
                                span.banner-info__year 2021
                                span.banner-info__age 18+
                                span.banner-info__time 4h 2min
                                span.banner-info__rating 8.8
                        p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
                        .banner-control 
                            button.banner-control__btn.banner-control__btn-main Watch
                            button.banner-control__btn.banner-control__btn-more More information
        include modules/footer    
